body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
#bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    background-size: cover;
}
header {
    padding: 1em;
    text-align: center;
    position: relative;
    z-index: 1; 
}
h1{
    font-size: 80px;
}
header p{
    font-size: 40px;
}
#menu ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Menggunakan flexbox */
    justify-content: center; /* Memusatkan link secara horizontal */
}

#menu li {
    margin-bottom: 0 5px;
    text-align: center;
    flex-basis: 50%;
}

#menu li a {
    text-decoration: none;
    font-weight: bold;
    display: block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    background-color: #ddd;
    margin:0 auto;
    font-size: 35px;
    color:black;
    text-align: center;
    border-radius: 50%;

}
#menu li a:hover {
    background-color: #b2dd73;
}




